In [ ]:
# 1.Write a code to reverse a string.

#Answer 1:

def reverse_string(string):
    reversed_string = ""
    for i in range(len(string) - 1, -1, -1):
        reversed_string += string[i]
    return reversed_string

In [ ]:
reverse_string("pwskills")

'sllikswp'

In [ ]:
# 2.Write a code to count the number of vowels in a string.

#Answer 2:

def count_vowels(string):
    vowels = "aeiouAEIOU"
    count = 0
    for char in string:
        if char in vowels:
            count += 1
    return count

In [ ]:
count_vowels("string")

1

In [ ]:
count_vowels("pwskills")

1

In [ ]:
count_vowels("education")

5

In [ ]:
# 3.Write a code to check if a given string is a palindrome or not.

#Answer 3:

def is_palindrome(string):
    reversed_string = reverse_string(string)
    if string == reversed_string:
        return True
    else:
        return False

In [ ]:
is_palindrome("radar")

True

In [ ]:
is_palindrome('eclipse')

False

In [ ]:
# 4.Write a code to check if two given strings are anagrams of each other.

#Answer 4:

def is_anagram(string1, string2):
    if len(string1) != len(string2):
        return False
    else:
        return sorted(string1) == sorted(string2)

In [ ]:
is_anagram("listen", "silent")

True

In [ ]:
is_anagram("cinema", "iceman")

True

In [ ]:
is_anagram('cave', 'race')

False

In [33]:
# 5.Write a code to find all occurences of a given substring within another string.

#Answer 5:

def find_all_occurrences(haystack, needle):
    """
    Find all occurrences of a substring (needle) within another string (haystack).

    Args:
    haystack (str): The string to search within.
    needle (str): The substring to search for.

    Returns:
    list: A list of starting indices where the substring is found.
    """
    indices = []
    start = 0
    while True:
        start = haystack.find(needle, start)
        if start == -1:
            break
        indices.append(start)
        start += len(needle)

    return indices
haystack = "This is a test string. This test string is just a test."
needle = "test"
occurrences = find_all_occurrences(haystack, needle)
print("Occurrences found at indices:", occurrences)

Occurrences found at indices: [10, 28, 50]

In [34]:
# 6.Write a code to perform basic string compression using the counts of repeated characters.

#Answer 6:

def compress_string(s):
    """
    Compress a string by counting consecutive repeated characters.

    Args:
    s (str): The input string to be compressed.

    Returns:
    str: The compressed version of the input string.
    """
    if not s:
        return ""

    compressed = []
    count = 1

    for i in range(1, len(s)):
        if s[i] == s[i - 1]:
            count += 1
        else:
            compressed.append(s[i - 1] + str(count))
            count = 1
    compressed.append(s[-1] + str(count))
    compressed_string = ''.join(compressed)
    return compressed_string if len(compressed_string) < len(s) else s
input_string = "aaabbcaaa"
compressed_string = compress_string(input_string)
print("Compressed string:", compressed_string)

Compressed string: a3b2c1a3

In [ ]:
# 7.Write a code to determine if a string has all unique characters.

#Answer 7:

def unique_characters(string):
    char_set = set()
    for char in string:
        if char in char_set:
            return False
        char_set.add(char)
    return True

In [ ]:
unique_characters("education")

True

In [ ]:
unique_characters("pwskills")

False

In [ ]:
# 8.Write a code to convert a given string to uppercase or lowercase.

#Answer 8:

def convert_case(string, case):
    if case == "upper":
        return string.upper()
    elif case == "lower":
        return string.lower()

In [ ]:
convert_case("pwskills", "upper")

'PWSKILLS'

In [ ]:
convert_case("RECTUS FEMORIS", "lower")

'rectus femoris'

In [ ]:
# 9.Write a code to count the number of words in a string.

#Answer 9:

def count_words(string):
    words = string.split()
    return len(words)

In [ ]:
count_words("pwskills")

1

In [ ]:
 # 10.Write a code to concatenate two strings without using the + operator.

 #Answer 10:

 def concatenate_strings(s1, s2):
    return ''.join([s1, s2])

s1 = "Google "
s2 = "Collab"
result = concatenate_strings(s1, s2)
print("Concatenated string:", result)

Concatenated string: Google Collab

In [ ]:
# 11.Write a code to remove all occurrences of a specifc element from a list.

#Answer 11:

def remove_all_occurrences(lst, element):
    return [x for x in lst if x != element]

In [ ]:
remove_all_occurrences([1,2, 3, 4, 5], 3)

[1, 2, 4, 5]

In [ ]:
remove_all_occurrences(["Potato", "Tomato", "Brinjal", "Carrot", "Apple"], "Apple")

['Potato', 'Tomato', 'Brinjal', 'Carrot']

In [35]:
# 12.Implement a code to find the second largest number in a given list of integers.

#Answer 12:

def find_second_largest(nums):
    if len(nums) < 2:
        raise ValueError("List must contain at least two distinct numbers")
    largest = second_largest = None
    for num in nums:
        if largest is None or num > largest:
            second_largest = largest
            largest = num
        elif num != largest and (second_largest is None or num > second_largest):
            second_largest = num
    if second_largest is None:
        raise ValueError("There is no second distinct largest number")

    return second_largest
numbers = [10, 20, 4, 20, 40, 50, 50]
print("The second largest number is:", find_second_largest(numbers))

The second largest number is: 40

In [ ]:
# 13.Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values.

#Answer 13:

def count_occurrences(lst):
    count_dict = {}
    for element in lst:
        if element in count_dict:
            count_dict[element] += 1
        else:
            count_dict[element] = 1
    return count_dict
numbers = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 6, 7, 6, 8, 5, 4, 3, 5 ,2 ,7 ,8, 9, 10, 9, 943]
print("Occurrences:", count_occurrences(numbers))

Occurrences: {1: 1, 2: 3, 3: 4, 4: 5, 5: 5, 6: 2, 7: 2, 8: 2, 9: 2, 10: 1, 943: 1}

In [ ]:
# 14.Write a code to reverse a list in-place without using any built-in reverse functions.

#Answer 14:

def reverse_list_in_place(lst):
    start = 0
    end = len(lst) - 1
    while start < end:
        lst[start], lst[end] = lst[end], lst[start]
        start += 1
        end -= 1
my_list = [1, 2, 3, 4, 5]
reverse_list_in_place(my_list)
print(my_list)

[5, 4, 3, 2, 1]

In [ ]:
# 15.Implement a code to find and remove duplicates from a list while preserving the original order of elements.

#Answer 15:

def remove_duplicates_preserve_order(lst):
    seen = set()
    result = []

    for item in lst:
        if item not in seen:
            seen.add(item)
            result.append(item)

    return result

my_list = [1, 2, 3, 2, 4, 1, 5]
cleaned_list = remove_duplicates_preserve_order(my_list)
print(cleaned_list)

[1, 2, 3, 4, 5]

In [36]:
# 16.Create a code to check if a given list is sorted (either in ascending or descending order) or not.

#Answer 16:

def check_sorted(lst):
    if not lst:
        return "The list is empty."
    is_ascending = all(lst[i] <= lst[i + 1] for i in range(len(lst) - 1))
    is_descending = all(lst[i] >= lst[i + 1] for i in range(len(lst) - 1))

    if is_ascending:
        return "The list is sorted in ascending order."
    elif is_descending:
        return "The list is sorted in descending order."
    else:
        return "The list is not sorted."

print(check_sorted([1, 2, 3, 4, 5]))
print(check_sorted([5, 4, 3, 2, 1]))
print(check_sorted([1, 3, 2, 4, 5]))
print(check_sorted([]))

The list is sorted in ascending order.
The list is sorted in descending order.
The list is not sorted.
The list is empty.

In [37]:
# 17.Write a code to merge two sorted lists into a single sorted list.

#Answer 17:

def merge_sorted_lists(list1, list2):
    merged_list = []
    i, j = 0, 0
    while i < len(list1) and j < len(list2):
        if list1[i] <= list2[j]:
            merged_list.append(list1[i])
            i += 1
        else:
            merged_list.append(list2[j])
            j += 1
    while i < len(list1):
        merged_list.append(list1[i])
        i += 1
    while j < len(list2):
        merged_list.append(list2[j])
        j += 1

    return merged_list
list1 = [1, 3, 5, 7]
list2 = [2, 4, 6, 8]

merged = merge_sorted_lists(list1, list2)
print(merged)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
# 18.Implement a code to find the intersection of two given lists.

#Answer 18:

def find_intersection(list1, list2):
    set1 = set(list1)
    set2 = set(list2)
    intersection = set1.intersection(set2)
    return list(intersection)

list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
intersection = find_intersection(list1, list2)
print(intersection)

[4, 5]

In [40]:
# 19.Create a code to find the union of two lists without duplicates.

#Answer 19:

def union_of_lists(list1, list2):
    combined_list = list1 + list2
    unique_list = list(set(combined_list))

    return unique_list

list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

union_list = union_of_lists(list1, list2)
print(union_list)

[1, 2, 3, 4, 5, 6, 7, 8]

In [42]:
# 20.Write a code to shuffle a given list randomly without using any built-in shuffle functions.

#Answer 20:
import random

def shuffle_list(lst):
    for i in range(len(lst) - 1, 0, -1):
        j = random.randint(0, i)
        lst[i], lst[j] = lst[j], lst[i]

    return lst
my_list = [1, 2, 3, 4, 5]
shuffled_list = shuffle_list(my_list)
print(shuffled_list)

[2, 5, 1, 4, 3]

In [43]:
# 21.Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples.

#Answer 21:

def common_elements(tuple1, tuple2):
    set1 = set(tuple1)
    set2 = set(tuple2)
    common_set = set1.intersection(set2)
    common_tuple = tuple(common_set)

    return common_tuple

tuple1 = (1, 2, 3, 4)
tuple2 = (3, 4, 5, 6)
result = common_elements(tuple1, tuple2)
print(result)

(3, 4)

In [2]:
# 22.Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection of these two sets.

#Answer 22:

def get_integer_set(prompt):
    input_str = input(prompt)

    # Convert the input string to a set of integers
    try:
        # Split the input string by commas, strip whitespace, and convert to integers
        int_set = set(map(int, input_str.split(',')))
    except ValueError:
        print("Invalid input. Please enter integers separated by commas.")
        return set()

    return int_set

def main():
    set1 = get_integer_set("Enter the first set of integers separated by commas: ")
    set2 = get_integer_set("Enter the second set of integers separated by commas: ")
    intersection = set1.intersection(set2)
    print("The intersection of the two sets is:", intersection)

if __name__ == "__main__":
    main()

Enter the first set of integers separated by commas: 1,2,3,4,5
Enter the second set of integers separated by commas: 9,3,0,4,6
The intersection of the two sets is: {3, 4}

In [10]:
# 23.Write a code to concatenate two tuples. The function should take two tuples as input and return a new tupple containing elements from both input tuples.

#Answer 23:

def concatenate_tuples(tuple1, tuple2):
    concatenated_tuple = tuple1 + tuple2
    return concatenated_tuple
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
print(concatenate_tuples(tuple1, tuple2))

(1, 2, 3, 4, 5, 6)

In [11]:
# 24.Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set.

#Answer 24:

def get_string_set(prompt):
    """
    Prompts the user for a set of strings, separated by commas, and returns it as a set.
    """
    input_str = input(prompt)
    string_set = set(s.strip() for s in input_str.split(','))

    return string_set

def main():
    set1 = get_string_set("Enter the first set of strings separated by commas: ")
    set2 = get_string_set("Enter the second set of strings separated by commas: ")
    difference = set1 - set2
    print("Elements in the first set but not in the second set:", difference)

if __name__ == "__main__":
    main()

Enter the first set of strings separated by commas: 6,9,4,5,6,7,78,8,5
Enter the second set of strings separated by commas: 4,8,5,7,96,4,8,076,5,4
Elements in the first set but not in the second set: {'6', '9', '78'}

In [13]:
# 25.Create a code that takes a tuple and two integers as input. The funtion should return a new tuple containing elements from the original tuple within the specified range of indices.

#Answer 25:

def slice_tuple(original_tuple, start_index, end_index):
    """
    Returns a new tuple containing elements from the original tuple
    within the specified range of indices (start_index to end_index inclusive).
    """
    if not (0 <= start_index <= end_index < len(original_tuple)):
        raise ValueError("Indices are out of range.")
    sliced_tuple = original_tuple[start_index:end_index + 1]

    return sliced_tuple

original_tuple = (10, 20, 30, 40, 50, 60, 70)
start_index = 2
end_index = 4
result = slice_tuple(original_tuple, start_index, end_index)
print(result)

(30, 40, 50)

In [14]:
# 26.Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets.

#Answer 26:

def get_character_set(prompt):
    """
    Prompts the user for a set of characters, separated by commas, and returns it as a set.
    """
    input_str = input(prompt)
    char_set = set(s.strip() for s in input_str.split(','))

    return char_set

def main():
    set1 = get_character_set("Enter the first set of characters separated by commas: ")
    set2 = get_character_set("Enter the second set of characters separated by commas: ")
    union_set = set1.union(set2)
    print("The union of the two sets is:", union_set)

if __name__ == "__main__":
    main()

Enter the first set of characters separated by commas: 9,2,3,6,1,4,7,5,0,4,1
Enter the second set of characters separated by commas: 2,3,8,6,7,0,6,1,7,8,
The union of the two sets is: {'', '2', '6', '3', '5', '1', '9', '0', '8', '7', '4'}

In [15]:
# 27.Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking.

#Answer 27:

def find_max_min(values_tuple):
    """
    Returns the maximum and minimum values from a tuple of integers using tuple unpacking.
    """
    if not values_tuple:
        raise ValueError("The input tuple is empty.")
    max_value = max(values_tuple)
    min_value = min(values_tuple)
    return max_value, min_value

values_tuple = (10, 20, 4, 45, 99, 1)
max_value, min_value = find_max_min(values_tuple)
print("Maximum value:", max_value)
print("Minimum value:", min_value)

Maximum value: 99
Minimum value: 1

In [16]:
# 28.Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets.

#Answer 28:

def main():
    set1 = {1, 2, 3, 4, 5}
    set2 = {4, 5, 6, 7, 8}
    union_set = set1.union(set2)
    intersection_set = set1.intersection(set2)
    difference_set = set1.difference(set2)
    print("Set 1:", set1)
    print("Set 2:", set2)
    print("Union of Set 1 and Set 2:", union_set)
    print("Intersection of Set 1 and Set 2:", intersection_set)
    print("Difference of Set 1 and Set 2 (Set 1 - Set 2):", difference_set)

if __name__ == "__main__":
    main()

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Union of Set 1 and Set 2: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection of Set 1 and Set 2: {4, 5}
Difference of Set 1 and Set 2 (Set 1 - Set 2): {1, 2, 3}

In [19]:
# 29.Write a code that takes a tuple and an element as input. The function should return the count of occurence of the given element in the tuple.

#Answer 29:

def count_element_in_tuple(input_tuple, element):
    count = input_tuple.count(element)
    return count
input_tuple = (1, 2, 3, 2, 4, 2, 5)
element = 2
result = count_element_in_tuple(input_tuple, element)
print(f"The element {element} appears {result} times in the tuple.")

The element 2 appears 3 times in the tuple.

In [20]:
# 30.Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets.

#Answer 30:

def get_string_set(prompt):
    """
    Prompts the user for a set of strings separated by commas and returns it as a set.
    """
    input_str = input(prompt)
    string_set = set(s.strip() for s in input_str.split(','))

    return string_set

def main():
    set1 = get_string_set("Enter the first set of strings separated by commas: ")
    set2 = get_string_set("Enter the second set of strings separated by commas: ")
    symmetric_difference = set1.symmetric_difference(set2)
    print("The symmetric difference of the two sets is:", symmetric_difference)

if __name__ == "__main__":
    main()

Enter the first set of strings separated by commas: 2,6,1,7,9,0,4,5,6,3
Enter the second set of strings separated by commas: 1,6,4,8,3,0,3,9,6,4
The symmetric difference of the two sets is: {'2', '5', '8', '7'}

In [24]:
# 31.Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list.

#Answer 31:

def word_frequencies(word_list):
    """
    Returns a dictionary where the keys are unique words from the list
    and the values are the frequencies of those words in the list.
    """
    frequency_dict = {}
    for word in word_list:
        word = word.lower()
        if word in frequency_dict:
            frequency_dict[word] += 1
        else:
            frequency_dict[word] = 1

    return frequency_dict
if __name__ == "__main__":
    input_str = input("Enter a list of words separated by spaces: ")
    word_list = input_str.split()

    frequencies = word_frequencies(word_list)

    print("Word frequencies:", frequencies)

Enter a list of words separated by spaces: apple banana apple Orange banana apple
Word frequencies: {'apple': 3, 'banana': 2, 'orange': 1}

In [28]:
# 32.Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the values should be added together.

#Answer 32:

def merge_dictionaries(dict1, dict2):
    """
    Merges two dictionaries. If there are common keys, their values are added together.
    """
    merged_dict = dict1.copy()  # Start with a copy of the first dictionary

    # Iterate over each key-value pair in the second dictionary
    for key, value in dict2.items():
        if key in merged_dict:
            # If the key is in both dictionaries, add the values
            merged_dict[key] += value
        else:
            # If the key is only in the second dictionary, add it to the merged dictionary
            merged_dict[key] = value

    return merged_dict

# Example usage
if __name__ == "__main__":
    import ast
    dict1_str = input("Enter the first dictionary: ")
    dict2_str = input("Enter the second dictionary: ")
    dict1 = ast.literal_eval(dict1_str)
    dict2 = ast.literal_eval(dict2_str)
    merged_dict = merge_dictionaries(dict1, dict2)
    print("Merged dictionary:", merged_dict)

Enter the first dictionary: {'a': 1, 'b': 2}
Enter the second dictionary: {'b': 3, 'c': 4}
Merged dictionary: {'a': 1, 'b': 5, 'c': 4}

In [30]:
# 33.Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the function should return None.

#Answer 33:

def get_nested_value(nested_dict, keys):
    """
    Accesses a value in a nested dictionary using a list of keys.
    Returns None if any key does not exist.
    """
    current_dict = nested_dict

    for key in keys:
        # Check if the current key exists in the current level of the dictionary
        if isinstance(current_dict, dict) and key in current_dict:
            current_dict = current_dict[key]
        else:
            return None

    return current_dict

if __name__ == "__main__":
    nested_dict = {
        'a': {
            'b': {
                'c': 10,
                'd': 20
            },
            'e': 30
        },
        'f': 40
    }

    import ast
    keys_str = input("Enter the list of keys: ")
    keys = ast.literal_eval(keys_str)
    value = get_nested_value(nested_dict, keys)
    print("The value is:", value)

Enter the list of keys: ['a', 'b', 'c']
The value is: 10

In [31]:
# 34.Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You can choose whether to sort in ascending or descending order.

#Answer 34:

def sort_dict_by_values(d, ascending=True):
    """
    Returns a sorted version of the dictionary based on its values.

    Parameters:
    - d: The dictionary to be sorted.
    - ascending: Boolean flag to indicate sorting order (True for ascending, False for descending).

    Returns:
    - A new dictionary sorted by values.
    """
    sorted_items = sorted(d.items(), key=lambda item: item[1], reverse=not ascending)
    sorted_dict = dict(sorted_items)

    return sorted_dict

if __name__ == "__main__":
    sample_dict = {
        'apple': 3,
        'banana': 1,
        'cherry': 2,
        'date': 5
    }

    sort_order = input("Enter sort order (asc for ascending, desc for descending): ").strip().lower()
    ascending = sort_order == 'asc'
    sorted_dict = sort_dict_by_values(sample_dict, ascending)

    print("Sorted dictionary:", sorted_dict)

Enter sort order (asc for ascending, desc for descending): asc
Sorted dictionary: {'banana': 1, 'cherry': 2, 'apple': 3, 'date': 5}

In [32]:
# 35.Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary.

#Answer 35:

def invert_dict(original_dict):
    """
    Inverts the dictionary, swapping keys and values.
    If multiple keys have the same value, store the keys as a list.

    Parameters:
    - original_dict: The dictionary to be inverted.

    Returns:
    - An inverted dictionary with values as keys and lists of original keys as values.
    """
    inverted_dict = {}
    for key, value in original_dict.items():
        if value in inverted_dict:
            inverted_dict[value].append(key)
        else:
            inverted_dict[value] = [key]

    return inverted_dict
if __name__ == "__main__":
    original_dict = {
        'a': 1,
        'b': 2,
        'c': 1,
        'd': 3,
        'e': 2
    }

    inverted_dict = invert_dict(original_dict)
    print("Inverted dictionary:", inverted_dict)

Inverted dictionary: {1: ['a', 'c'], 2: ['b', 'e'], 3: ['d']}